<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet-mapping>
    <servlet-name>NewController</servlet-name>
    <url-pattern>/NewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.NewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainMenuController</servlet-name>
    <url-pattern>/MainMenuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainMenuController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.MainMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchDataFromDatabase</servlet-name>
    <url-pattern>/FetchDataFromDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchDataFromDatabase</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.FetchDataFromDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteControllerForAdmin</servlet-name>
    <url-pattern>/DeleteControllerForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteControllerForAdmin</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.DeleteControllerForAdmin</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.aws.codestar.projecttemplates.controller.AdminLoginController</servlet-class>
  </servlet>
</web-app>